* {
    -webkit-tap-highlight-color: transparent;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

body{
    font-family: Matter,Helvetica,Arial,sans-serif;
    background-image: url('../images/background/beige-paper.png');
    background-repeat: repeat;
    background-size: auto;
    background-color: #ffffff;
}

/* Headers styles */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    margin: 0px;
    background-color: #f8f8f8;
    border-top: 1px solid #ddd;
}

header a{
    color: rgb(40, 40, 40);
    text-decoration: none;
}

#main{
    font-size: 1.5rem;
    font-weight: bold;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.3s ease, color 0.3s ease;
}

#main:hover{
    color: rgb(70, 70, 70);
    border-bottom: 2px solid rgb(0, 0, 0);
}

#header_right{
    display: flex;
    justify-content: right;
}

#header_right a{
    padding-left: 20px;
    padding-right: 20px;
    transition: background-color 0.3s ease, color 0.3s ease;
    display: inline-block;
    text-decoration: none;
}

#header_right a:hover{
    border-radius: 5px;
}

#contact {
    border-left: 1px solid black;
}

#blog {
    border-right: 1px solid black;
}

#project {
    border-right: 1px solid black;
}

.content {
    flex: 1; 
}

/* footers */
footer{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 5vh;
    background-color: #f8f8f8;
    border-top: 1px solid #ddd;
}

footer a{
    color: rgb(40, 40, 40);
    text-decoration: none;
}

.contact-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.label {
    font-weight: bold;
    margin-bottom: 5px;
}

@media (max-width: 480px) {
    header {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1vh;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 1000;
    }

    body {
        padding-top: 8vh;
    }

    #main{
        font-size: 1.2rem;
    }

    #header_right {
        padding-top: 10px;
        border-top: 2px solid black;
        flex-direction: row;
    }

    footer {
        align-items: flex-start;
        flex-direction: column;
        gap: 3vh;
    }

    .label {
        align-self: flex-start;
    }

    #copyright {
        margin-top: 0;
        margin-bottom: 0;
    }
}