/* main page */
#introduction_section{
    font-family: 'Garamond Classico SC';
    margin-top: 10vh;
    margin-bottom: 10vh;
    overflow: auto;
    padding-bottom: 20vh;
}

#introductionPhoto{
    width: 350px;
    height: 350px;
    object-fit: cover;
    border-radius: 50%;
    float: left;
    filter: grayscale(80%);
    margin-left: 50px;
    transition: filter 1s ease, color 0.5s ease;
}

#introductionPhoto:hover{
    filter: grayscale(0%);
}

#introduction_detail{
    overflow: hidden;
    padding-left: 50px;
}

#introductionName{
    font-size: 3rem;
}

#introductionPosition{
    font-size: 2rem;
}

#introductionAbout{
    font-size: 1.5rem;
    text-align: justify;
    padding-right: 10vw;
}

#introduction_shortcut a{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-family: 'Qwigley';
    font-size: 5em;
    color: #333333;
    background-color: #dfdfdf;
    width: 30vh;
    height: 30vh;
    margin-right: 20px;
    border-radius: 50%;
    line-height: 1;
    text-decoration: none;
    transition: background-color 1s ease, color 2s ease;
}

#introduction_shortcut a:hover {
    color: #dfdfdf;
    background-color: #333333;
}