/* main page */
* {
    -webkit-tap-highlight-color: transparent;
}

#introduction_section{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-family: 'Garamond Classico SC';
    margin: 10vh 30vh 30vh 30vh;
}

#introductionPhoto{
    width: 350px;
    height: 350px;
    object-fit: cover;
    border-radius: 50%;
    aspect-ratio: 1 / 1; 
    filter: grayscale(80%);
    transition: filter 1s ease, color 0.5s ease;
}

#introductionPhoto:hover{
    filter: grayscale(0%);
}

#introduction_detail{
    overflow: hidden;
    display: flex;
    flex-direction: column;
    padding-left: 5vh;
    box-sizing: border-box;
}

#introductionName{
    font-size: 3rem;
}

#introductionPosition{
    margin-top: 3vh;
    font-size: 2rem;
    margin-bottom: 0;
}

#introductionAbout{
    margin-top: 1vh;
    font-size: 1.5rem;
    text-align: justify;
}

#introduction_shortcut {
    display: flex;
    justify-content: space-evenly;
}

#introduction_shortcut a{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-family: 'Qwigley';
    font-size: 5em;
    width: 180px;
    height: 180px;
    color: #333333;
    background-color: #dfdfdf;
    border-radius: 50%;
    line-height: 1;
    text-decoration: none;
    transition: background-color 1s ease, color 2s ease;
}

#introduction_shortcut a:hover {
    color: #dfdfdf;
    background-color: #333333;
}

@media (max-width: 1200px) {
    #introduction_section {
        margin: 8vh 5vh 8vh 5vh;
    }

    #introductionPhoto{
        width: 300px;
        height: 300px;
    }

    #introduction_shortcut a{
        height: 30%;
        width: 30%;
        font-size: 3rem;
        aspect-ratio: 1 / 1; 
    }
}

@media (max-width: 480px) {
    #introduction_section {
        display: flex;
        flex-direction: column-reverse;
        margin: 8vh 5vh 8vh 5vh;
    }

    #introduction_detail {
        padding: 0;
    }

    #introductionName{
        font-size: 2rem;
    }

    #introductionPosition{
        margin-top: 1vh;
        font-size: 1.5rem;
    }

    #introductionAbout{
        font-size: 1rem;
    }

    #introduction_shortcut a{
        height: 10vh;
        width: 10vh;
        font-size: 3rem;
    }

    #introductionPhoto{
        width: 300px;
        height: 300px;
        align-self: center;
        margin-top: 3vh;
        margin-left: 0; 
    }
}